* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg-banner {
  background: #000;
  color: #fff;
  /* max-width: 80%; */
  text-align: center;
  margin: 2em 0 auto;
}

.description {
  background: lightgray;
  max-width: 80%;
  margin: 2em auto;
  font-size: 1.5rem;
}

#search-form {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: lightgray;
}
#city,
#state,
#number {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

#search {
  width: 50%;
}
.results-container {
  padding-top: 1.5em;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.map-container {
  margin: auto;
  /* height: 300px;
  width: 300px; */
}
.results,
#resources {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 1em;
}
.mp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  border: 2px solid darkgray;
  background: lightgray;
  width: 70%;
  margin: 1em auto;
  text-align: center;
}

.hidden {
  display: none;
}

button,
input[type="text"],
input[type="number"] {
  padding: 2rem;
  margin: 0.5em auto;
  font-size: 1em;
  border-radius: 2%;
}

button:hover {
  cursor: pointer;
  background: #000;
  color: #fff;
}

#new-search-btn {
  width: 80%;
  font-size: 1.5em;
}

#results,
.footer {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  justify-content: center;
}
.results-txt {
  text-align: center;
}

ul li {
  list-style: none;
  margin: 1em auto;
}
.link a {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.error-message {
  color: red;
}

@media screen and (min-width: 700px) {
  .results-container {
    margin: 2.5em auto;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    border: 2px solid green;
  }

  .results,
  #resources-list {
    height: 80%;
    overflow-y: auto;
    margin: 1em auto;
    padding: 0.5rem;
  }
  .results {
    width: 40%;
  }
  .mp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid darkgray;
    background: lightgray;
    width: 90%;
    height: 50%;
    margin: 1em auto;
    text-align: center;
  }

  section ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  ul li {
    margin: 0.7rem auto;
    justify-content: center;
    align-items: center;
  }

  .mp-info {
    width: 100%;
    align-items: center;
    flex: 0 0 50%;
  }

  img {
    width: 70%;
  }

  a {
    word-wrap: break-word;
    overflow: auto;
  }
  /* DELETE */
  #resources,
  #results-list {
    border: 2px solid red;
  }
  /* DELETE */

  #resources-list {
    width: 50%;
    margin-top: 2px;
  }

  #resources {
    width: 100%;
  }
}
