/* 
dark purple-black
#040305

plum
#4F3952

bright prewinkle blue
#7062E9

navy
#191E5D
   
cobalt blue   
#283CAF
   
mauvey purple   
#7F7092
   
bright pastel purple   
#9462E8
   
bright pink
#FF6384
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* COLORS AND BACKGROUNDS */
html {
  background: #040305;
}

h1,
h2,
h3,
h4,
p,
ul li,
label {
  color: #fff;
  font-family: "Lato", sans-serif;
}
.mp-container {
  background: #20242d;
  border: 2px solid #c7c8ff;
}
a {
  color: #dd92f6;
}
.title {
  font-family: "Bebas Neue", cursive;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 1em;
  display: inline;
  background: linear-gradient(
    0deg,
    #9462e8 0,
    #9462e8 40%,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0)
  );
}
h1 {
  font-size: 3 rem;
}

.fullName {
  line-height: 1.7;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 1em;
  display: inline;
  background: linear-gradient(
    0deg,
    #fcad3f 20%,
    #ff8e8e 40%,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0)
  );
}
h3 {
  display: inline;
  background: linear-gradient(
    0deg,
    #dd92f6 0,
    #9462e8 20%,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0)
  );
}

/* END COLORS AND BACKGROUNDS */

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg-banner {
  background: #000;
  color: #fff;
  text-align: center;
}
.results-txt {
  margin: 0.5em auto;
}
.description {
  max-width: 80%;
  margin: 2em auto;
  font-size: 1.5rem;
}

#search-form {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #7062e9;
}
#city,
#state,
#number {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

#search {
  width: 50%;
}
.results-container {
  padding-top: 1.5em;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.resources-container {
  margin: auto;
}
.results {
  margin-bottom: 1em;
}
.mp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  width: 70%;
  margin: 1em auto;
  text-align: center;
}

.hidden {
  display: none;
}

button,
input[type="text"],
input[type="number"] {
  font-family: "Lato", sans-serif;
  padding: 2rem;
  margin: 0.5em auto;
  font-size: 1.5em;
  border-radius: 2%;
  color: #283caf;
}

button:hover {
  cursor: pointer;
  background: #283caf;
  color: #fff;
}
button#search {
  width: 30%;
}
#new-search-btn {
  font-size: 1.5em;
}

#results,
footer {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  justify-content: center;
}

.message-footer {
  text-align: center;
}

ul li {
  list-style: none;
  margin: 1em auto;
}
h4.link a {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow: scroll;
}
.error-message {
  color: red;
}
.resources_li {
  display: block;
  list-style: circle;
}
div#resources {
  line-height: 1.5;
}
.mp-info img {
  border-radius: 5px;
  box-shadow: 1px 1px 6px #8ce9ff;
  -webkit-box-shadow: 5px 5px 10% #8ce9ff;
  -moz-box-shadow: 3px 3px 1px #8ce9ff;
}
.nextButton {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 5%;
}

.charts {
  line-height: 2.7px;
}

label.charts {
  font-size: 2em;
}
@media screen and (min-width: 700px) {
  .results-container {
    margin: 2.5em auto;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
  }
  #results-list {
    height: auto;
  }
  .results,
  #resources-list {
    margin: 1em auto;
    padding: 0.5rem;
  }
  .results {
    width: 40%;
  }
  .results-txt {
    top: 90px;
    position: relative;
    right: 35.2%;
  }
  .mp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 50%;
    margin: 1em auto;
    text-align: center;
  }

  section ul.mp-info,
  footer {
    display: flex;
  }

  ul li {
    margin: 0.7rem auto;
    justify-content: center;
    align-items: center;
  }

  .mp-info {
    width: 100%;
    height: auto;
    align-items: center;
    flex: 0 0 50%;
    font-size: 0.9em;
    flex-direction: column;
    margin: auto;
  }

  img {
    width: 70%;
  }

  #resources-list {
    width: 50%;
    margin-top: 2px;
  }

  #resources {
    width: 100%;
  }
  h1 {
    font-size: 3em;
  }

  .results-txt,
  .message-footer {
    font-size: 1.5em;
  }

  .resources-container p {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 800px) {
  .mp-info {
    font-size: 1em;
  }
  .fullName {
    font-size: 1.2em;
  }

  h1 {
    font-size: 5em;
  }
  .results-txt {
    top: 90px;
    position: relative;
    right: 40.2%;
  }
  .results-txt,
  .message-footer {
    font-size: 2em;
  }
  .resources-container p {
    font-size: 1em;
  }
}
